@charset "utf-8";
/* CSS Document */

body
{
	background-color:#000;
	margin:0px;
}

.jiemian
{
	width:100%;
	height:100vh;
	float:left;
}

.jiemian h1
{
	text-align:center;
	color:#FFF;
	font-family:华文新魏;
	font-size:50px;
	padding-top:80px;
	padding-bottom:60px;
}

.jiemian h3
{
	text-align:left;
	color:#FFF;
	font-family:楷体;
	font-size:24px;
	padding-left:150px;
	padding-right:150px;
	padding-bottom:50px;
}

.jiemian h4
{
	text-align:left;
	color:#0CF;
	font-family:楷体;
	padding-left:150px;
	padding-right:150px;
	padding-bottom:50px;
}

.jiemian .konwledge,.C-learing,.ai,.html-css
{
	height:20vh;
	margin:2.5vh;
	color:#000;
}

.jiemian .konwledge .title,.C-learing .title,.ai .title,.html-css .title
{
	width:20vw;
	height:20vh;
	font-size:36px;
	padding-left:20px;
	padding-right:20px;
	padding-top:7vh;
	margin-left:30px;
	margin-right:30px;
	background-color:#FFF;
	text-align:center;
	display:block;
	float:left;
	font-family:楷体;
}

.jiemian div .small
{
	width:20vw;
	height:20vh;
	font-size:40px;
	padding-left:20px;
	padding-right:20px;
	padding-top:7vh;
	margin-left:30px;
	margin-right:30px;
	background-color:#FFF;
	text-align:center;
	display:block;
	float:left;
	font-family:华文新魏;
}

a
{
	text-decoration:none;
	color:#0CF;
}
