@charset "utf-8";
/* CSS Document */

body
{
	background-color:#000;
	margin:0px;
}

.jiemian
{
	width:100vw;
	height:100vh;
	float:left;
}

.jiemian h1
{
	margin:20px;
	text-align:center;
	color:#FFF;
	font-family:华文新魏;
	font-size:50px;
}

.jiemian h3
{
	text-align:left;
	color:#FFF;
	font-family:楷体;
	font-size:24px;
	margin-left:200px;
	margin-right:200px;
	margin-top:50px;
}

